<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwriting to Text Converter</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>HANDWRITING TO TEXT CONVERTER</h1>
    </header>
    
    <main>
        <div class="upload-section">
            <p><strong>Click on extract to get the content</strong></p>
            <div class="upload-box">
                <input type="file" id="fileInput">
                <button id="extractButton">EXTRACT</button>
            </div>
        </div>

        
    </main>
    
    <footer>
        <p>FOOTER</p>
    </footer>
</body>
</html>
